$pipe-width: 12em;

.Pipe {
  position: absolute;
  display: none;
  width: $pipe-width;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 3;
}

.atTop {
  position: relative;
  top: 0;
  left: 0;
  width: $pipe-width;
  height: 50em;

  background: url('../images/pipeReverse.png') left bottom;
  background-size: 100% auto;
}

.atBottom {
  position: relative;
  top: 0;
  left: 0;
  width: $pipe-width;
  height: 50em;

  background: url('../images/pipe.png') left top;
  background-size: 100% auto;
}