
.Player {
  position: absolute;
  top: 0;
  left: 0;
  width: 12em;
  height: 6.7em;
  background: url(../images/raven.png);
  z-index: 5;
}

.Player-wings {
  position:absolute;
  left: 4.5em;
  top: 3em;
  height: 5em;
  width: 5em;
  background: url(../images/wing.gif);
  transform-origin: top left;
  animation: 0.4s flap alternate infinite;
}

@-webkit-keyframes flap {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(180deg);
  }
}